.header{
	background-color: #181a23;
	padding: 10px 0;
}

.logo{
	max-width: 180px;
}

.nav-link{
	padding: .5rem 2rem;
}

.nav-link.active{
	color: #ff2b58 !important;
}

.btn-accent{
	background: #ff2b58;
}


.center{
		margin-top: 15px; 
}